<div class="container">
<div class="hero-unit">
<h1>Welcome to Street_Meat.</h1><br>

<p>Hungry? Find a new street vendor in your area -- or, if you've got one in mind already, tell us more about that vendor so that others may share in the experience.</p>

<p>Find. Review. It's as simple as that.</p>

<%= form_tag vendors_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<p><a href="/vendors" class="btn btn-primary btn-large">Find &raquo;</a>
<a href="/reviews" class="btn btn-primary btn-large">Review &raquo;</a></p>

</div>
</div>

<p>Currently showing <%= pluralize(@vendors.count, "vendor") %></p>
<%= gmaps4rails(@json) %>
</body>
