<%= render 'layouts/adminpage' %>

<% if @current_user && @current_user.is_admin %>
<h1>Reviews for <%= @review.vendor.name %></h1>
<br>
<em>"<%= @review.text %>"</em> (User rating: <%= @review.rating %>)<br>
<%= link_to "Edit Review", edit_review_path, :class => "btn btn-primary" %>
<%= button_to "Destroy Review", @review, :method => :delete, :class => "btn btn-danger" %>
<% end %>