<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">Streetside_Bites</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><%= link_to "Home", root_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "By Vendor", vendors_path %></li>
              <li><%= link_to "By Food", menuitems_path %></li>
            </ul>
          </li>
          <li><%= link_to "Review Vendor", new_review_path %></li>
          <% unless @current_user %>
          <li><%= link_to "Create Account", new_user_path %></li>
          <% else %>
          <li><%= link_to "Sign Out", log_out_path %></li>
          <% end %>
        </ul>
        <% if @current_user %>
        <div class="navbar-form pull-right">
          <div class="brand">
          <%= @current_user.email %>
        </div>
        </div>
          <% else %>
        <form class="navbar-form pull-right" action="/sessions" method="post">
          <input class="span2" type="text" name="email" placeholder="Email">
          <input class="span2" type="password" name="password" placeholder="Password">
          <button type="submit" class="btn">Sign in</button>
        </form>
        <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


