<h1>Edit vendor</h1>

<form action="/vendors/<%= @vendor.id %>" method="POST">
  <input type="text" name="name" value="<%= @vendor.name %>">
  <input type="hidden" name="_method" value="put">

  <input type="text" name="address" value="<%= @vendor.address %>">
  <input type="hidden" name="_method" value="put">

  <input type="text" name="hours" value="<%= @vendor.hours %>">
  <input type="hidden" name="_method" value="put">

  <input type="text" name="phone" value="<%= @vendor.phone %>">
  <input type="hidden" name="_method" value="put">

  <input type="text" name="twitter" value="<%= @vendor.twitter %>">
  <input type="hidden" name="_method" value="put">

  <button>Edit Contact</button>
</form>