<h1>Vendors</h1>

<% @vendors.each do |vendor| %>
<%= link_to(vendor.name,vendor) %><br>
<% end %>

<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<%= gmaps4rails(@json) %>

<%= link_to "Add a new vendor", new_vendor_path %>