<h1><%= @vendor.name %></h1>

<table class="table">
  <tr>
<p><td><strong>Location: </td></strong><td><%= @vendor.address %></td></p>
  </tr>
<p><strong>Average User Rating: </strong><%= render 'averagerating' %>/ 5</p>
<p><strong>Average Price: </strong>$<%= render 'averageprice' %></p>
<% if @vendor.twitter? %>
   <p>Twitter: <%= @vendor.twitter %> </p>
  <% end %>

<p>Menu items include:</p> <%= render 'menu' %><br>
<p>Is this menu incomplete? <%= link_to "Add menu item", :controller => :menuitems, :action => :new %></p>

<p>First three user reviews: (<%= link_to "View All", review_path %>)</p>
<%= render 'review' %><br>
</table>
<%= gmaps(:markers => { :data => @json }, :map_options => { :auto_adjust => true, :auto_zoom => false, :zoom => 16 }) %>

<%= link_to "Review Vendor", new_review_path, :class => "btn btn-primary" %>
<%= link_to "Edit Vendor Information", edit_vendor_path, :class => "btn btn-primary" %><br>
<%= link_to " Back", :back, :class => "btn btn-primary" %>
<%= button_to "Destroy Vendor", @vendor, :method => :delete, :class => "btn btn-danger" %>
