<h1><%= @vendor.name %></h1>

<p>Location: <%= @vendor.address %></p>
<p>Average User Rating: <%= render 'averagerating' %></p>
<% if @vendor.twitter? %>
   <p>Twitter: <%= @vendor.twitter %> </p>
  <% end %>

<p>Menu items include:</p> <%= render 'menu' %><br>

<p>First three user reviews: (<%= link_to "View All", review_path %>)</p>
<%= render 'review' %><br>

<%= gmaps4rails(@json) %>

<%= link_to "Review Vendor", new_review_path %><br>
<%= link_to "Edit Vendor Information", edit_vendor_path %><br>


<form action="/vendors/<%= @vendor.id %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <button>Delete Vendor</button>
</form>