<h1><%= @vendor.name %></h1>

Location: <%= @vendor.address %><br>
Hours: <%= @vendor.hours %><br>
Phone: <%= @vendor.phone %><br>
Twitter: <%= @vendor.twitter %><br><br>
Average Rating: PUT SOMETHING HERE

<%= gmaps4rails(@json) %>

<%= link_to "Vendor Home", vendors_path %><br>
<%= link_to "Edit Vendor Information", edit_vendor_path %><br>

<form action="/vendors/<%= @vendor.id %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <button>Delete Vendor</button>
</form>