<h1><%= @vendor.name %></h1>

<p>Location: <%= @vendor.address %></p>
<p>Average User Rating: <%= render 'averagerating' %>/ 5</p>
<p>Average Price: $<%= render 'averageprice' %></p>
<% if @vendor.twitter? %>
   <p>Twitter: <%= @vendor.twitter %> </p>
  <% end %>

<p>Menu items include:</p> <%= render 'menu' %><br>

<p>First three user reviews: (<%= link_to "View All", review_path %>)</p>
<%= render 'review' %><br>

<%= gmaps4rails(@json) %>

<%= link_to "Review Vendor", new_review_path, :class => "btn btn-primary" %>
<%= link_to "Edit Vendor Information", edit_vendor_path, :class => "btn btn-primary" %><br>
<%= button_to "Destroy Vendor", @vendor, :method => :delete, :class => "btn btn-danger" %>
